@{
    var divID = ViewBag.Did;
 }
<div id=@divID></div>
<script type="text/javascript">

    var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"

	var containerRSSImg = document.getElementById('imagegallery') ;
	var paraImgGallery ={
	    "campaignId": ID    ,
		  "cardType" : "IMGGALLERY",
		  "returnUrl": returnUrl ,
		  "styles" : {} ,
		  "clientId" : "100"
 };

	Bubbly.showCard(paraImgGallery, data, containerRSSImg);
</script>