@{
    var divID = ViewBag.Did;
}
<div id=@divID></div>
@*<div id="small1"></div>
<div id="small2"></div>
<div id="small3"></div>
<div id="small4"></div>
<div id="small5"></div>
<div id="small6"></div>
<div id="small7"></div>
<div id="small8"></div>
<div id="small9"></div>
<div id="small10"></div>*@
<script type="text/javascript">

    var Bubbly = new BubblyCard();

    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";

    paraSmall1 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };

    var paraSmall2 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };

    var paraSmall3 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };

    var paraSmall4 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {cardStyle:{'color': '#333333 !important;',}} ,
        "clientId" : "100"
    };

    var paraSmall5 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {cardStyle:{'color': '#333333 !important;',}} ,
        "clientId" : "100"
    };

    var paraSmall6 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {cardStyle:{'color': '#333333 !important;',}} ,
        "clientId" : "100"
    };

    var paraSmall7 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {cardStyle:{'color': '#333333 !important;',}} ,
        "clientId" : "100"
    };

    var paraSmall8 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };

    var paraSmall9 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };

    var paraSmall10 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" : {} ,
        "clientId" : "100"
    };
    var paraSmall15 ={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl + "?id=" + ID,
        "styles" : {cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
            mainBoxStyle : {'background-color': '#ffffff;','height':'100px;','font-family':'Segoe UI;','margin-bottom':'5px;','background': '#fff;','margin':'0;','padding':'5px;'},
            smallBoxStyle :{'background-color': '#ffffff;'} ,
            cardTitleAnchoStyle :{'color':'#FFAB40'},
            descriptionStyle : { 'color':'#E5033F', 'font-size': '14px;',  'line-height': '1.184;','position': 'relative;',  'font-weight': 'bolder;','margin-bottom':'5px;','margin-bottom':'5px;','overflow':'hidden;','height':'70px;', 'margin': '0px;', 'padding': '5px;'},
            actionStyle : {}
        } ,
        "clientId" : "100"
    };

    var paraSmall16={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl + "?id=" + ID,
        "styles" : {cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
            mainBoxStyle : {'background-color': '#ffffff;','height':'100px;','font-family':'Segoe UI;','margin-bottom':'5px;','background': '#fff;','margin':'0;','padding':'5px;'},
            smallBoxStyle :{'background-color': '#ffffff;'} ,
            cardTitleAnchoStyle :{'color':'#FFAB40'},
            descriptionStyle : { 'color':'#E5033F', 'font-size': '14px;',  'line-height': '1.184;','position': 'relative;',  'font-weight': 'bolder;','margin-bottom':'5px;','margin-bottom':'5px;','overflow':'hidden;','height':'70px;', 'margin': '0px;', 'padding': '5px;'},
            actionStyle : {}
        } ,
        "clientId" : "100"
    };

    var paraSmall17={
        "campaignId" : ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl + "?id=" + ID,
        "styles" : {cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
            mainBoxStyle : {'background-color': '#ffffff;','height':'100px;','font-family':'Segoe UI;','margin-bottom':'5px;','background': '#fff;','margin':'0;','padding':'5px;'},
            smallBoxStyle :{'background-color': '#ffffff;'} ,
            cardTitleAnchoStyle :{'color':'#FFAB40'},
            descriptionStyle : { 'color':'#E5033F', 'font-size': '14px;',  'line-height': '1.184;','position': 'relative;',  'font-weight': 'bolder;','margin-bottom':'5px;','margin-bottom':'5px;','overflow':'hidden;','height':'70px;', 'margin': '0px;', 'padding': '5px;'},
            actionStyle : {}
        } ,
        "clientId" : "100"
    };

    var paraSmall18 ={
        "campaignId" :ID,
        "cardType" : "SMALL",
        "returnUrl": returnUrl + "?id=" + ID,
        "styles" : {cardStyle : {'background-color': '#ffffff;','box-shadow': '0 20px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);'},
            mainBoxStyle : {'background-color': '#ffffff;','height':'100px;','font-family':'Segoe UI;','margin-bottom':'5px;','background': '#fff;','margin':'0;','padding':'5px;'},
            smallBoxStyle :{'background-color': '#ffffff;'} ,
            cardTitleAnchoStyle :{'color':'#FFAB40'},
            descriptionStyle : { 'color':'#E5033F', 'font-size': '14px;',  'line-height': '1.184;','position': 'relative;',  'font-weight': 'bolder;','margin-bottom':'5px;','margin-bottom':'5px;','overflow':'hidden;','height':'70px;', 'margin': '0px;', 'padding': '5px;'},
            actionStyle : {}
        } ,
        "clientId" : "100"
    };
    if(Did=="small1"){
        Bubbly.showCard(paraSmall1, data, document.getElementById('small1'));
    }
    else if(Did=="small2"){
        Bubbly.showCard(paraSmall2, data, document.getElementById('small2'));
    }
    else if(Did=="small3"){
        Bubbly.showCard(paraSmall3, data, document.getElementById('small3'));
    }
    else if(Did=="small4"){
        Bubbly.showCard(paraSmall4, data, document.getElementById('small4'));
    }
    else if(Did=="small5"){
        Bubbly.showCard(paraSmall5, data, document.getElementById('small5'));
    }
    else if(Did=="small6"){
        Bubbly.showCard(paraSmall6, data, document.getElementById('small6'));
    }
    else if(Did=="small7"){
        Bubbly.showCard(paraSmall7, data, document.getElementById('small7'));
    }
    else if(Did=="small8"){
        Bubbly.showCard(paraSmall8, data, document.getElementById('small8'));
    }
    else if(Did=="small9"){
        Bubbly.showCard(paraSmall9, data, document.getElementById('small9'));
    }
    else if(Did=="small10"){
        Bubbly.showCard(paraSmall10, data, document.getElementById('small10'));
    }
    else if(Did=="small15"){
        Bubbly.showCard(paraSmall15, data, document.getElementById('small15'));
    }
    else if(Did=="small16"){
        Bubbly.showCard(paraSmall16, data, document.getElementById('small16'));
    }
    else if(Did=="small17"){
        Bubbly.showCard(paraSmall17, data, document.getElementById('small17'));
    }
    else if(Did=="small18"){
        Bubbly.showCard(paraSmall18, data, document.getElementById('small18'));
    }
</script>