@{
    var divID = ViewBag.Did;
}
<div id=@divID></div>
@*<div id="vcardm"></div>
<div id="vcardm1"></div>*@
<script type="text/javascript">
    var Bubbly = new BubblyCard();
    
    var data =@(Html.Raw(ViewBag.Summary));
    var ID ="@(Html.Raw(ViewBag.ID))";
    var returnUrl="@(Html.Raw(ViewBag.ReturnUrl))"
    var returnUrl3="@(Html.Raw(ViewBag.ReturnUrl3))"
    var Did = "@(Html.Raw(ViewBag.Did))";

    var paraVCardM ={
        "campaignId" : ID,
        "cardType" : "VCARDAUTO",
        "returnUrl": returnUrl+"?id=" + ID,
        "styles" :@(Html.Raw(ViewBag.Style)) ,
        "clientId" : "100"
    };
    
    Bubbly.showCard(paraVCardM, data, document.getElementById(Did));
    
</script>