
.social-main-nav {
	margin-bottom: 0px;
	height:60px;
}
.socialmedia-nav{
	float: right;
	height: 60px;
	line-height: 0px;
	padding: 0px 0px;
}
.socialmedia-nav li{
	float:left;
	margin-right:4px;
}
.social-follower {
    float: right;
    height: 60px;
    padding: 0px 0px;
    line-height: 20px;
margin-top: 20px !important;
}
.social-follower li {
	margin-right: -6px;
}
.fb-follow span{height: 20px !important; width: 90px !important;vertical-align: calc !important;}

#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4 { height: 370px;}
#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4-sport { height: 223px;}


.masonry-card {
	background: #232323;
	padding: 20px;
}
.card{margin:0px !important;}
.card a {margin-right: 0px !important;}
.row masonry-card .col {
    float: left;
    box-sizing: border-box;
    padding: 0px 0.22rem !important;
}
.social-card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0px 1rem;
	background-color: #FFF;
	border-radius: 0px;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
}
.z-depth-3 {
	box-shadow: none !important;
}
.panel .card {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
.panel .card-panel {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
iframe{
	border:none !important;
	border-width: 0px 0px 0px 0px !important;
}
.card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0px 1rem;
	background-color: #FFF;
	border-radius: 0px;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
}
.card-panel {
	padding: 20px;
	margin: 0.0rem 0px 1rem;
	border-radius: 2px;
	background-color: #FFF;
	border-radius: 0px;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
	box-shadow: none;
}
.card-content.white-text {
	color: #333333 !important;
}
.social-divider {
	height: 3px;
	overflow: hidden;
	background-color: #333333;
}
.social-news-travel-celeb-weird h6 {
	font-weight: normal;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #000000;
	height: 2.9rem;
	line-height: 2.6rem;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
	box-shadow: none;
	padding: 0px 0px;
}
.social-news-travel-celeb-weird .card-panel {
	padding: 0px !important;
	background-color: transparent !important;
}
.social-news-travel-celeb-weird .card-panel span {
	float: left;
	font-size: 12px !important;
	color: #333;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis !important;
	width: 20em;
	white-space: nowrap;
}
	.social-news-travel-celeb-weird .card-panel p {
		float: left;
	text-align: left;
	color: #333;
	margin: 5px 0px;
	font-size: 14px;
	height: 42px;
	overflow: hidden;
	text-overflow: ellipsis !important;
	width: 17em;
	}

.social-news-travel-celeb-weird .card-panel span a {
	color:#606060 !important;
	text-align: center;
	font-size: 15px !important;
	font-weight: bold !important;
}

.slider .indicators .indicator-item {
	display: inline-block;
	position: relative;
	cursor: pointer;
	height: 7px;
	width: 7px;
	margin: 0px 12px;
	background-color: rgb(180, 180, 180);
	transition: background-color 0.3s ease 0s;
	border-radius: 50%;
}
.slider .indicators .indicator-item.active {
	background-color: #ffffff;
}

h6 {
    color: #333;
    font-size: 1.5rem;
    padding: 8px 0px;
    line-height: 18px;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0px 0.3rem ;
}

.col.s12.m8.l7.sub-panel {    padding: 0px !important;border-radius:5px !important;box-shadow:1px 1px 3px #000;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}
.col.s12.m8.l5.sub-panel {    padding: 0px !important;border-radius:5px !important;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}
.col.s12.m12.l12.sub-panel3x2 {    padding: 0px !important;border-radius:5px !important;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}
.col.s12.m6.l12.sub-panel3x2 {    padding: 0px !important;margin: 0.1rem 0px;border-radius:5px !important;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}
.col.s12.m6.l12.sub-panel3x2 {    padding: 0px !important;margin: 0rem 0rem !important;border-radius:5px !important;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}
.col.s12.m12.l6.sub-panel3x2{ border-radius:5px !important;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.92);}

.col.s12.m12.l12.sub-panel3x2 .card-panel {
	padding: 20px;
    margin: 0.0rem 0px 0.3rem !important;
    border-radius: 2px;
    background-color: #FFF;
    border-radius:5px !important;
    border-style: solid;
    border-color: #DFDFDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 0.1rem 0.1rem 0px !important;
    box-shadow: none;
}
.card .card-content p {
    margin: 0px;
    color: inherit !important;
    height: 45px;
    overflow: hidden;
    color: #333333 !important;
}

#small15 #small17 {
    position: relative;
    top: -8px !important;
}
#small16, #small18  {
    position: relative;
    bottom: 0px;
}

#videos.owl-wrapper-outer.owl-wrapper.owl-item {
    width: 305px !important;
    margin-right: 10px !important;
}
.owl-item div{width:100%;height:100%;}

#vcardm iframe, #vcardmm iframe, #vcardmmm iframe {
    height: 250px !important;
}
#vcardm1 iframe, #vcardm2 iframe, #vcardm3 iframe{
	width: 100%;
	height: 502px !important;
}
.social-nav-menu {
    position: relative;
    z-index: 9;
	height:64px;
	top:50px;
	background:#262629;
}
nav.social-nav .brand-logo span{font-size: 1.3rem;}
.copyright {
    float: right;
    line-height: 25px;
}
.divider {
	height: 1px;
	overflow: hidden;
	background-color: #333333;
	margin: 12px 0px;
}
.slider .slides {
	background-color: transparent !important;
	margin: 0px;
	height: 340px;
}
.slider {
    position: relative;
    height: 365px;
    width: 100%;
}
#amazingslider-1 {
    height: 445px !important;
}
.amazingslider-space-1 {
    height: 435px !important;
}
#PCARD {        margin-bottom: 8px;    margin-top: 8px;}
/*.owl-item {
    width: 300px !important;
    margin-right: 8px !important;
    height: 225px !important;
}*/

.owl-item {
    width: 300px !important;
    margin-right: 0px !important;
    height: 218px !important;
    border-right: 8px solid black;
}


.social-collection-header {
    font-size: 1.64rem;
    font-weight: 500;
    color: #000000 !important;
}

#si .social-card .row {
     margin-left: 0rem; 
     margin-right: 0rem; 
	 color:#000000 !important;
}
#lang{
    color: #23527C;
    outline: medium none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    display: inherit;
    width: 290px;
    float: left;
}
#bolly_data3394_page2_COMMENTS.grid {
    background: transparent none repeat scroll 0% 0%;
    max-width: 99%;
}

.row.social-headline{ margin-left: 0.0rem !important;margin-right: -0.75rem !important;}
.social-headline h2{
    font-size: 3.00rem;
    line-height: 2.50rem;
    margin: 1.5rem 0px 1rem;
}

.social-headline small{
    font-size: 1.00rem;
    background: #ffffff;
	color:black;	
}

#imagegallery .slider ul.indicators {
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99 !important;
}



#card .card-action {
   
    padding: 0px !important;
}

#card-reveal .card .card-content { color:#000000 !important;}


#VC1 .owl-slider.owl-carousel.owl-theme{ height:250px !important;}
#VC1 .owl-theme .owl-controls {margin-top: 0px !important;}
#VC1 .owl-prev {position: absolute;top: -120px;}
#VC1 .owl-next {position: absolute;top: -120px;}
#VC1 .owl-carousel .owl-wrapper-outer {margin: 1px !important;}




#bolly_data3394_page2_COMMENTS .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS h5 {font-size: 1.64rem; line-height: 1.804rem;   margin: 0.82rem 0px 0.656rem;  color: rgb(0, 0, 0);}
#bolly_data3394_page2_COMMENTS select {    background-color: rgba(62, 62, 62, 0.9);    width: 100%;    padding: 5px;    border: 1px solid #F2F2F2;    border-radius: 2px;    height: 3rem;    color: #FFF !important;}

#imggallery .social-card{margin: 0.0rem 0px 1rem !important;}
#imggallery .amazingslider-space-1 {height: 354px !important;}
#imggallery #amazingslider-1 {    height: 355px !important;}

#imggallery-sport #amazingslider-1 {    height: 342px !important;}
#imggallery-sport .amazingslider-space-1 {height: 350px !important;}


.privacy-policy h2{
    font-size: 2rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy h2, .privacy-policy h3 {
    font-size: 1.4rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy p {
    color: #888888;
}





@media only screen and (min-width: 320px) and (max-device-width : 480px) {
		.col.s12.m6.l12.sub-panel3x2	  {  width:96.4% !important;background:#F36; }
	 	.col.s12.m8.l7.sub-panel { width:96.4% !important; }
		.col.s12.m8.l5.sub-panel { width:96.4% !important; }
		.col.s12.m12.l12.sub-panel3x2 { width:96.4% !important; }
		.col.s12.m6.l12.sub-panel3x2 { width:96.4% !important; }
		.col.s12.m6.l12.sub-panel3x2 { width:96.4% !important; }
		.col.s12.m12.l6.sub-panel3x2{ width:96.4% !important; }
		.col.s12.m12.l12.sub-panel3x2 .card-panel { width:96.4% !important; }
		.row .col {    float: left;    box-sizing: border-box;    padding: 0px 0.9rem;}
		nav ul a {    font-size: 1rem;    color: #FFF;    display: block;    padding: 0px 10px;}
}

@media only screen and (min-width : 601px) and (max-device-width : 1080px) { {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 60px;
    line-height: 60px; }
  .navbar-fixed {
    height: 60px; }

	.social-follower {
    float: right;
    height: 60px;
    padding: 0px;
    line-height: 20px;
    margin-top: 0px !important;
}

}

@media only screen and (max-width : 992px){
	nav .brand-logo{
		left: 35%;
transform: translate(-50%, -50%);
top: 41px;
	}
	
	nav .brand-logo p{
		font-size:10px;
		float:right;
	} 
	.socialmedia-nav {
		display:none;
	}

}
@media only screen and (max-width : 320px){
	nav .brand-logo{
		left: 170px;
transform: translate(-50%, -50%);
top: 41px;
	}
	
	nav .brand-logo p{
		display:none;
	} 
	.socialmedia-nav, .social-follower {
		display:none;
	}

}

