.container {
    padding: 0px 0.15rem !important;
    margin: 0px auto;
    max-width: none;
    width: 95% !important;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    width: 95% !important;
}
.card-panel {
    padding: 0px;
    margin: 0rem 0px 1rem;
    border-radius: 0px;
    background-clip: padding-box;
}
.nav-wrapper p{width: 28%;float: left;margin: 0px;}
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    width: 10%;
    display: inline-block;
    padding: 0px;
    float: left;
    position: relative;
}
.social-nav {
	position: fixed;
	top: 0px;
	z-index: 1000;
	background-color: #CF1C2E;
	height: 60px;
	overflow: visible !important;
}
.social-main-nav {
	margin-bottom: 0px;
	height:60px;
}
.d-toggle-menu-dashborad > i {
    font-size: 1.5rem !important;
}
.main {
    float: left !important;
}
.main > nav {
    height:200px;
}
.socialmedia-nav{
	float: right;
	height: 60px;
	line-height: 0px;
	padding: 0px 0px;
}
.socialmedia-nav li a{
	font-size: 1rem;
	color: #FFF;
	display: inline-block;
	padding: 0px 8px;
}
.socialmedia-nav li{
	float:left;
}
.social-follower {
    float: right;
    height: 60px;
    padding: 0px 0px;
    line-height: 20px;
	margin-top: 20px !important;
	
}
.social-follower li {
	margin-right: -6px;
}
.fb-follow span{height: 20px !important; width: 90px !important;vertical-align: calc !important;}

#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4 { height: 370px;}
#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4-sport { height: 223px;}


.masonry-card {
	background: #232323;
	padding: 20px;
}
.row masonry-card .col {
    float: left;
    box-sizing: border-box;
    padding: 0px 0.22rem !important;
}
.social-card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0px 1rem;
	background-color: #FFF;
	border-radius: 0px;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
}


.panel .card {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
.panel .card-panel {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
iframe{
	border:none !important;
	border-width: 0px 0px 0px 0px !important;
}

.card-content.white-text {
	color: #333333 !important;
}
.social-divider {
	height: 3px;
	overflow: hidden;
	background-color: #333333;
}
.social-news-travel-celeb-weird ul {margin-top:0px !important;}
.social-news-travel-celeb-weird h6 {
	font-weight: normal;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #000000;
	height: 2.9rem;
	line-height: 2.6rem;
	box-shadow: none;
	padding: 0px 0px;
	margin-bottom:0px;
    border: none !important;
}
	.social-news-travel-celeb-weird .card-panel p {
	color: #333;
	margin: 5px 0px;
	font-size: 14px;
	height: 42px;
	overflow: hidden;
	text-overflow: ellipsis !important;
	width: 20em;
	}

.social-news-travel-celeb-weird .card-panel span a {
	color:#606060 !important;
	font-size: 15px !important;
	font-weight: bold !important;
}
h6 {
    color: #333;
    font-size: 1.5rem;
    padding: 5px 0px;
    line-height: 18px;
}

#videos.owl-wrapper-outer.owl-wrapper.owl-item {
    width: 305px !important;
    margin-right: 10px !important;
}
.owl-item div{width:100%;height:100%;}

#vcardm iframe, #vcardmm iframe, #vcardmmm iframe {
    height: 250px !important;
}
#vcardm1 iframe, #vcardm2 iframe, #vcardm3 iframe{
	width: 100%;
	height: 502px !important;
}
.social-nav-menu {
    position: relative;
    z-index: 9;
	height:64px;
	top:50px;
	background:#262629;
}
nav.social-nav .brand-logo span{font-size: 1.3rem;}
.copyright {
    float: right;
    line-height: 25px;
}
.divider {
	height: 3px;
    overflow: hidden;
    background-color: #606060;
	
}
#amazingslider-1 {
    height: 445px !important;
}
.amazingslider-space-1 {
    height: 435px !important;
}
#PCARD {        margin-bottom: 8px;    margin-top: 8px;}
.owl-item {
    width: 300px !important;
    margin-right: 0px !important;
    height: 218px !important;
    border-right: 8px solid black;
}
.social-collection-header {
    font-size: 1.64rem;
    font-weight: 500;
    color: #000000 !important;
}
#si .social-card .row {
     margin-left: 0rem; 
     margin-right: 0rem; 
	 color:#000000 !important;
}
#lang{
    color: #23527C;
    outline: medium none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    display: inherit;
    width: 290px;
    float: left;
}
#bolly_data3394_page2_COMMENTS.grid {
    background: transparent none repeat scroll 0% 0%;
    max-width: 99%;
}
.row.social-headline{ margin-left: 0.0rem !important;margin-right: -0.75rem !important;}
.social-headline h2{
    font-size: 3.00rem;
    line-height: 2.50rem;
    margin: 1.5rem 0px 1rem;
}
.social-headline small{
    font-size: 1.00rem;
    background: #ffffff;
	color:black;	
}
#card .card-action {   
    padding: 0px !important;
}
#card-reveal .card .card-content { color:#000000 !important;}
#VC1 .owl-slider.owl-carousel.owl-theme{ height:250px !important;}
#VC1 .owl-theme .owl-controls {margin-top: 0px !important;}
#VC1 .owl-prev {position: absolute;top: -120px;}
#VC1 .owl-next {position: absolute;top: -120px;}
#VC1 .owl-carousel .owl-wrapper-outer {margin: 1px !important;}

#bolly_data3394_page2_COMMENTS .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS h5 {font-size: 1.64rem; line-height: 1.804rem;   margin: 0.82rem 0px 0.656rem;  color: rgb(0, 0, 0);}
#bolly_data3394_page2_COMMENTS select {    background-color: rgba(62, 62, 62, 0.9);    width: 100%;    padding: 5px;    border: 1px solid #F2F2F2;    border-radius: 2px;    height: 3rem;    color: #FFF !important;}

#imggallery .social-card{margin: 0.0rem 0px 1rem !important;}
#imggallery .amazingslider-space-1 {height: 354px !important;}
#imggallery #amazingslider-1 {    height: 355px !important;}

#imggallery-sport #amazingslider-1 {    height: 342px !important;}
#imggallery-sport .amazingslider-space-1 {height: 350px !important;}

/*  yogesh patel 02-01-2016 */
.container > header {padding: 0rem !important;margin: 0px !important;}
.sidenav-top{top: 60px !important;}
div#VC1 {
    border: 1px double #cccccc;
    padding: 0px 10px;
}
.privacy-policy h2{
    font-size: 2rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy h2, .privacy-policy h3 {
    font-size: 1.4rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy p {
    color: #888888;
}

.left_pad_rmv{padding-left: 0px !important;}
.right_pad_rmv{padding-right: 0px !important;}
.left-nav-link {
    border-top: 1px solid #ccc;
    min-height: 112px;
    margin: 0 0 12px 0;
    overflow: hidden;
    padding: 18px 18px 0 18px !important;
    position: relative;
}
.left-nav-link a {
    color: #444;
    display: block;
    font-size: 1.2rem;
    min-height: 90px !important;
    line-height: 24px;
    padding: 0 15px;
}
.articles-container {
    margin: 0px 0 0 276px;
    max-width: 860px;
    overflow: hidden;
    padding: 0 0 100px 0;
    position: relative;
    top: 0;
}

.article {
    background: white;
    color: #414042;
    margin: 0 0 8px 0;
    position: relative;
    padding: 8px !important;
    border: 1px solid #CCCCCC;
}
.article_image {
    width: 100%;
    overflow: hidden;
    max-height: 500px;
}
.article-topic {
    font-size: 18px;
    color: #af4317;
    font-weight: 700;
    margin: 0 0 4px 0;
    padding: 0;
    text-transform: uppercase;
}
.article_image img{max-width:100%;}
.article-img {
    display: block;
    width: 100%;
}
.article-content {
    margin: 38px 35px 0 35px;
    overflow: hidden;
}
.article-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    padding: 0 0 5px 0;
}
.article-sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0 0 10px 0;
}
.article-byline {
    font-size: 14px;
    padding: 0 0 20px 0;
}
.article-byline span {
    display: inline;
    font-size: 14px;
}
.article-author {
    font-weight: 700;
}
.z_depth_none{box-shadow: none !important;}
.main-si{border: 1px solid #cccccc;}

.z-depth-3 {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;

}

.small_card_main {
    padding: 8px 0px;
    height: 100px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    background: #ffffff;
    border-radius: 5px;
}
.small_card{
    width: 100%;
    overflow: hidden;
    height: 78px;
    line-height: 19px;
    font-weight: normal;
    max-height: 78px;
}
.small_card_detail {
    width: 100%;
    overflow: hidden;
    height: 78px;
    line-height: 19px;
    font-weight: normal;
    max-height: 78px;
}
.small_card_detail p {
    margin: 0px 0px;
    padding: 0px 0px;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 14px;
    height: 58px;
    overflow: hidden;
}
.small_card_detail p:hover{color:#424242;}
.small_card_detail > a > p{
    margin: 0px 0px;
    padding: 0px 0px;
    color: #CF1C2E;
    font-weight: 500;
    font-size: 14px;
    height: 58px;
    overflow: hidden;
}
.small_card_detail > a{
    color:#CF1C2E;
    font-weight: 500;
    font-size: 14px;
}
.small_card img{max-width:100%;height: inherit;/*border: 1px double rgb(170, 170, 170);*/}

::-webkit-scrollbar {
    width: 8px;
}
::-moz-scrollbar {
    width: 12px;
}
::-ms-scrollbar {
    width: 12px;
}
::scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-moz-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-ms-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-moz-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-ms-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;    
}
::-moz-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}
::-ms-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}
::scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}

/*  yogesh patel 02-01-2016 */


/*  yogesh patel small_vertical 12-01-2016 */
.section_cardpanel {    border-right: 1px solid #cccccc;}
.section_cardpanel > h6{border-bottom: 1px solid #DFDFDD;}
.section_picture_card .card-panel .card-image > div{    border-radius: 5px;}
.section_cardpanel .card-panel {
    margin-bottom: 5px;   padding: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
}

/*  yogesh patel small_vertical 12-01-2016 */
.section_small_vertical .card.small{height: 272px !important;}
.section_small_vertical .card .card-content{height: 68px;}
.section_small_vertical .card .card-content p{color:#624F87;}
/*  yogesh patel medium-card 011-01-2016 */
.card .card-action, .card .card-action, .card .card-content {padding: 12px;}


.section_medium .card.medium . {    height: 390px;}
.section_medium .card.medium .card-content {    height: 90px;}
.section_medium .card > .card-action{border-top: 1px solid rgba(160, 160, 160, 0.36);}
.section_medium .card.medium .card-image span{padding: 5px 12px;background-color: rgba(8, 137, 62, 0.93);}
.section_medium .card.medium .card-image span a{font-size: 16px;}

.section_medium .card > .card-action a,
.section_medium .card > .card-action a i{ color:#08893E; }
.section_medium .card > .card-action a,
.section_medium .card > .card-action a i:hover{ color:#29A25C; }

/*  yogesh patel larg-card 011-01-2016 */
.section_medium .card, .section_large .card, .section_small_vertical .card,
.section_picture_card .card-panel{
    border-radius: 5px;
} 
.section_large .card.large {    height: 465px;}
.section_large .card > .card-action{border-top: 1px solid rgba(160, 160, 160, 0.36);}
.section_large .card.large .card-image {    height: 290px;}
.section_large .card > .card-image > .card-title > a{    font-weight: 400;}

.section_large .card > .card-action a,
.section_large .card > .card-action a i{ color:#AB1142; }
.section_large .card > .card-action a,
.section_large .card > .card-action a i:hover{ color:#C54870; }

/*  yogesh patel 011-01-2016 */
@media only screen and (min-width : 240px){
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    width: 92px;
    display: inline-block;
    padding: 0px;
    float: left;
    position: relative;
}
}
@media only screen and (min-width : 320px){	
nav a.button-collapse {
    float: right;
    z-index: 1;
    height: 60px;
    color: #FFF;
    width: 45px;
    position: relative;
}
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    padding: 0px;
    float: left;
    position: relative;
    width: 128px;
    margin-left: 10px;
    display: inline-block;
	
}
.nav-wrapper p {
    width: 35%;
    float: left;
    margin: 10px 0px 0px;
    white-space: initial;
    line-height: 12px;
    font-size: 10px;
	font-style: italic;
}
}
@media only screen and (min-width : 601px) {
3nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    /* height: 120px; */
    line-height: 60px;
	}
nav a.button-collapse {
    float: right;
    z-index: 1;
    height: 60px;
    color: #FFF;
    width: 50px;
    position: relative;
	}
.navbar-fixed {   height: 60px; }

.social-follower {
    float: right;
    height: 60px;
    padding: 0px;
    line-height: 20px;
    margin-top: 20px !important;
}
.nav-wrapper p {
    float: left;
    margin: 23px 0px 0px;
    white-space: initial;
    line-height: 12px;
    font-size: 13px;
    width: 375px;
	font-style: italic;
}
}
@media only screen and (min-width : 992px){

nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    padding: 0px;
    float: left;
    position: relative;
    width: 128px !important;
    margin-left: 10px;
    display: inline-block;
}
.nav-wrapper p {
    width: 26%;
    float: left;
    margin: 0px auto;
    white-space: initial;
    line-height: 60px;
    font-size: 14px;
	font-style: italic;
}
}
@media only screen and (max-width : 992px){
	nav .brand-logo {
		top: 0% !important;
		left: 0% !important;
		transform: translate(-0%, -0%);
		height: 60px;
}
}
@media only screen and (min-width : 320px) and (max-width : 1023px) {
	.socialmedia-nav{display:none;}
	.social-follower{display:none;}
}
