

.container {
    padding: 0px 0.15rem !important;
    margin: 0px auto;
    max-width: none;
    width: 95% !important;
}
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
h3 {
    font-size: 2.4rem;
    line-height: 2.50rem;
    margin: 1.46rem 0 1.168rem 0;
    color: #777777;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    width: 95% !important;
}
.card-panel {
    padding: 0px;
    margin: 0rem 0px 1rem;
    border-radius: 0px;
    background-clip: padding-box;
}
.nav-wrapper p{width: 28%;float: left;margin: 0px;}
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    width: 10%;
    display: inline-block;
    padding: 0px;
    float: left;
    position: relative;
}
.social-nav {
	position: fixed;
	top: 0px;
	z-index: 1000;
	background-color: #CF1C2E;
	height: 60px;
	overflow: visible !important;
}
ul#nav-mobile.sidenav-top {
    width: 275px;
}
.social-main-nav {
	margin-bottom: 0px;
	height:60px;
}
.d-toggle-menu-dashborad > i {
    font-size: 1.5rem !important;
}
.main {
    float: left !important;
}
.main > nav {
    height:200px;
}
.socialmedia-nav{
	float: right;
	height: 60px;
	line-height: 0px;
	padding: 0px 0px;
}
.socialmedia-nav li a{
	font-size: 1rem;
	color: #FFF;
	display: inline-block;
	padding: 0px 8px;
}
.socialmedia-nav li{
	float:left;
}
.social-follower {
    float: right;
    height: 60px;
    padding: 0px 0px;
    line-height: 20px;
	margin-top: 20px !important;
	
}
.social-follower li {
	margin-right: -6px;
}
.fb-follow span{height: 20px !important; width: 90px !important;vertical-align: calc !important;}

#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4 { height: 370px;}
#rectangle1_homepage_container_c1311b3f-8ad4-49e8-a025-b79d9579add4-sport { height: 223px;}


.masonry-card {
	background: #232323;
	padding: 20px;
}
.row masonry-card .col {
    float: left;
    box-sizing: border-box;
    padding: 0px 0.22rem !important;
}
.social-card {
	position: relative;
	overflow: hidden;
	margin: 0.5rem 0px 1rem;
	background-color: #FFF;
	border-radius: 0px;
	border-style: solid;
	border-color: #DFDFDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 0px 0.1rem 0.1rem 0px;
}


.panel .card {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
.panel .card-panel {
	border:none;
	border-width: 0px 0px 0px 0px;
	border-radius:5px !important;
}
iframe{
	border:none !important;
	border-width: 0px 0px 0px 0px !important;
}

.card-content.white-text {
	color: #333333 !important;
}
.social-divider {
	height: 3px;
	overflow: hidden;
	background-color: #333333;
}
.social-news-travel-celeb-weird ul {margin-top:0px !important;}
.social-news-travel-celeb-weird h6 {
	font-weight: normal;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #000000;
	height: 2.9rem;
	line-height: 2.6rem;
	box-shadow: none;
	padding: 0px 0px;
	margin-bottom:0px;
    border: none !important;
}
	.social-news-travel-celeb-weird .card-panel p {
	color: #333;
	margin: 5px 0px;
	font-size: 14px;
	height: 42px;
	overflow: hidden;
	text-overflow: ellipsis !important;
	width: 20em;
	}

.social-news-travel-celeb-weird .card-panel span a {
	color:#606060 !important;
	font-size: 15px !important;
	font-weight: bold !important;
}
h6 {
    color: #333;
    font-size: 1.5rem;
    padding: 5px 0px;
    line-height: 18px;
}

#videos.owl-wrapper-outer.owl-wrapper.owl-item {
    width: 305px !important;
    margin-right: 10px !important;
}
.owl-item div{width:100%;height:100%;}

#vcardm iframe, #vcardmm iframe, #vcardmmm iframe {
    height: 250px !important;
}
#vcardm1 iframe, #vcardm2 iframe, #vcardm3 iframe{
	width: 100%;
	height: 502px !important;
}
.social-nav-menu {
    position: relative;
    z-index: 9;
	height:64px;
	top:50px;
	background:#262629;
}
nav.social-nav .brand-logo span{font-size: 1.3rem;}
.copyright {
    float: right;
    line-height: 25px;
}
.divider {
	height: 3px;
    overflow: hidden;
    background-color: #606060;
	
}
#amazingslider-1 {
    height: 445px !important;
}
.amazingslider-space-1 {
    height: 435px !important;
}
#PCARD {        margin-bottom: 8px;    margin-top: 8px;}
.owl-item {
    width: 300px !important;
    margin-right: 0px !important;
    height: 218px !important;
    border-right: 8px solid black;
}
.social-collection-header {
    font-size: 1.64rem;
    font-weight: 500;
    color: #000000 !important;
}
#si .social-card .row {
     margin-left: 0rem; 
     margin-right: 0rem; 
	 color:#000000 !important;
}
#lang{
    color: #23527C;
    outline: medium none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    display: inherit;
    width: 290px;
    float: left;
}
#bolly_data3394_page2_COMMENTS.grid {
    background: transparent none repeat scroll 0% 0%;
    max-width: 99%;
}
.row.social-headline{ margin-left: 0.0rem !important;margin-right: -0.75rem !important;}
.social-headline h2{
    font-size: 3.00rem;
    line-height: 2.50rem;
    margin: 1.5rem 0px 1rem;
}
.social-headline small{
    font-size: 1.00rem;
    background: #ffffff;
	color:black;	
}
#card .card-action {   
    padding: 0px !important;
}
#card-reveal .card .card-content { color:#000000 !important;}
#VC1 .owl-slider.owl-carousel.owl-theme{ height:250px !important;}
#VC1 .owl-theme .owl-controls {margin-top: 0px !important;}
#VC1 .owl-prev {position: absolute;top: -120px;}
#VC1 .owl-next {position: absolute;top: -120px;}
#VC1 .owl-carousel .owl-wrapper-outer {margin: 1px !important;}

#bolly_data3394_page2_COMMENTS .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .row .grid-item{padding:0px;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS .container .row {margin-left: 0.0rem !important;}
#bolly_data3394_page2_COMMENTS h5 {font-size: 1.64rem; line-height: 1.804rem;   margin: 0.82rem 0px 0.656rem;  color: rgb(0, 0, 0);}
#bolly_data3394_page2_COMMENTS select {
    background-color: rgba(62, 62, 62, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #F2F2F2;
    border-radius: 0px;
    height: 3rem;
    color: #FFF !important;
    margin: 17px 0px;
}
#bolly_data3394_page2_COMMENTS .grid-item .card {
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.22) !important;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(144, 144, 144, 0.31);
}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content:nth-child(2n) {height:70px;padding: 5px 10px;margin: 0px;border-bottom: 1px solid #DCE0E3;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content {
    padding: 5px 10px;
    margin: 0px;
    color: #505050 !important;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #DCE0E3;
}
.content-module {box-shadow: none;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > a{margin: 5px;    color: #FF1830;font-size: 13px;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > a:hover{    color: #FF9CA7;}
#bolly_data3394_page2_COMMENTS .grid-item .card > p > span:nth-child(2n){    color: #3E3E3E !important;width: 52% !important}
#bolly_data3394_page2_COMMENTS .grid-item .card > p > span a:nth-child(2n){color:#039BE5 !important;    font-size: 14px;}
#bolly_data3394_page2_COMMENTS .grid-item .card > p > span a:hover:nth-child(2n){color:#88D0F3 !important;}
#bolly_data3394_page2_COMMENTS .grid-item .card > p > span{color:#8a8a8a;width: 40% !important}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div{margin: 5px !important;min-height: 48px !important;overflow: hidden;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > span{float: right;
    padding-right: 5px;
    padding-top: 5px;
    color: #039be5;
    font-size: 26px;
    line-height: 45px;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div > div {height: 22px;overflow: hidden;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div > div a{    margin: 0px;    color: #737373;    font-size: 14px;    font-weight: 500;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div > div a:hover{color: #B9B9B9;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div > a{    margin: 0px;    color: #737373;    font-size: 14px;    font-weight: 500;line-height: 50px;}
#bolly_data3394_page2_COMMENTS .grid-item .card .card-content > div > div > span{color: #8E8E8E;font-size: 13px;}
#imggallery .social-card{margin: 0.0rem 0px 1rem !important;}
#imggallery .amazingslider-space-1 {height: 354px !important;}
#imggallery #amazingslider-1 {    height: 355px !important;}

#imggallery-sport #amazingslider-1 {    height: 342px !important;}
#imggallery-sport .amazingslider-space-1 {height: 350px !important;}

/*  yogesh patel 02-01-2016 */
.container > header {padding: 0rem !important;margin: 0px !important;}
.sidenav-top{top: 60px !important;}
div#VC1 {
    border: 1px double #cccccc;
    padding: 0px 10px;
}
.privacy-policy h2{
    font-size: 2rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy h2, .privacy-policy h3 {
    font-size: 1.4rem;
    line-height: 3.212rem;
    margin: 1.46rem 0px 1.168rem;
    color: #666666 !important;
}
.privacy-policy p {
    color: #888888;
}

.left_pad_rmv{padding-left: 0px !important;}
.right_pad_rmv{padding-right: 0px !important;}
.left-nav-link {
    border-top: 1px solid #ccc;
    min-height: 112px;
    margin: 0 0 0px 0;
    overflow: hidden;
    padding: 18px 18px 0 18px !important;
    position: relative;
}
.left-nav-link a {
    color: #444;
    display: block;
    font-size: 1.2rem;
    min-height: 90px !important;
    padding: 0 15px;
}
.articles-container {
    margin: 0px 0 0 276px;
    max-width: 860px;
    overflow: hidden;
    padding: 0 0 100px 0;
    position: relative;
    top: 0;
}

.article {
    background: white;
    color: #414042;
    margin: 0 0 8px 0;
    position: relative;
    padding: 8px !important;
    border: 1px solid #CCCCCC;
}
.article_image {
    width: 100%;
    overflow: hidden;
    max-height: 500px;
}
.article-topic {
    font-size: 18px;
    color: #af4317;
    font-weight: 700;
    margin: 0 0 4px 0;
    padding: 0;
    text-transform: uppercase;
}
.article_image img{max-width:100%;}
.article-img {
    display: block;
    width: 100%;
}
.article-content {
    margin: 38px 35px 0 35px;
    overflow: hidden;
}
.article-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding: 0 0 5px 0;
}
.article-sub-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0 0 10px 0;
}
.article-byline {
    font-size: 14px;
    padding: 0 0 20px 0;
}
.article-byline span {
    display: inline;
    font-size: 14px;
}
.article-author {
    font-weight: 700;
}
.z_depth_none{box-shadow: none !important;}
.main-si{border: 1px solid #cccccc;}

.z-depth-3 {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;

}

.small_card_main {
    padding: 8px 0px;
    height: 100px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    background: #ffffff;
    border-radius: 5px;
}
.small_card{
    width: 100%;
    overflow: hidden;
    height: 78px;
    line-height: 19px;
    font-weight: normal;
    max-height: 78px;
}
.small_card_detail {
    width: 100%;
    overflow: hidden;
    height: 78px;
    line-height: 19px;
    font-weight: normal;
    max-height: 78px;
}
.small_card_detail p {
    margin: 0px 0px;
    padding: 0px 0px;
    color: #7B7B7B;
    font-weight: 400;
    font-size: 14px;
    height: 58px;
    overflow: hidden;
}
.small_card_detail p:hover{color:#424242;}
.small_card_detail > a > p{
    margin: 0px 0px;
    padding: 0px 0px;
    color: #CF1C2E;
    font-weight: 500;
    font-size: 14px;
    height: 58px;
    overflow: hidden;
}
.small_card_detail > a{
    color:#CF1C2E;
    font-weight: 500;
    font-size: 14px;
}
.small_card img{max-width:100%;height: inherit;/*border: 1px double rgb(170, 170, 170);*/}

::-webkit-scrollbar {
    width: 8px;
}
::-moz-scrollbar {
    width: 12px;
}
::-ms-scrollbar {
    width: 12px;
}
::scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-moz-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::-ms-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
::scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-moz-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-ms-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;    
}
::-moz-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}
::-ms-scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}
::scrollbar-thumb:hover {
    background-color: #aaa;
    border-radius: 10px;
}

/*  yogesh patel 02-01-2016 */


/*  yogesh patel small_vertical 12-01-2016 */
.section_cardpanel {    border-right: 1px solid #cccccc;}
.section_cardpanel ul{margin:5px 0px;} 
.section_cardpanel > h6{border-bottom: 1px solid #DFDFDD;}
.section_picture_card .card-panel .card-image > div{    border-radius: 5px;}
.section_cardpanel .card-panel {
    margin-bottom: 5px;   padding: 10px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22) !important;
    margin-bottom: 5px;
    padding: 0px 5px !important;
    overflow: hidden;
}
.section_cardpanel .card-panel span{font-size: 15px;    font-size: 15px !important;}
.section_cardpanel .card-panel p{color: #7B7B7F;margin:5px 0px;font-size: 14px;height: 40px;overflow: hidden;}
/*  yogesh patel small_vertical 12-01-2016 */
.section_small_vertical .card.small{height: 272px !important;}
.section_small_vertical .card .card-content{height: 68px;}
.section_small_vertical .card .card-content p{color:#624F87;}
/*  yogesh patel medium-card 011-01-2016 */
.card .card-action, .card .card-action, .card .card-content {padding: 12px;}


.section_medium .card.medium . {    height: 390px;}
.section_medium .card.medium .card-content {    height: 90px;}
.section_medium .card > .card-action{border-top: 1px solid rgba(160, 160, 160, 0.36);}
.section_medium .card.medium .card-image span{padding: 5px 12px;background-color: rgba(8, 137, 62, 0.93);}
.section_medium .card.medium .card-image span a{font-size: 16px;}

.section_medium .card > .card-action a,
.section_medium .card > .card-action a i{ color:#08893E; }
.section_medium .card > .card-action a,
.section_medium .card > .card-action a i:hover{ color:#29A25C; }

/*  yogesh patel larg-card 011-01-2016 */
.section_medium .card, .section_large .card, .section_small_vertical .card,
.section_picture_card .card-panel{
    border-radius: 5px;
} 
.section_large .card.large {    height: 465px;}
.section_large .card > .card-action{border-top: 1px solid rgba(160, 160, 160, 0.36);}
.section_large .card.large .card-image {    height: 290px;}
.section_large .card > .card-image > .card-title > a{    font-weight: 400;}

.section_large .card > .card-action a,
.section_large .card > .card-action a i{ color:#AB1142; }
.section_large .card > .card-action a,
.section_large .card > .card-action a i:hover{ color:#C54870; }

/*  yogesh patel 011-01-2016 */
/*  yogesh patel 27-01-2016 */
.social-headline > div > h3 > a{color: #4A4A4A;font-size: 38px;line-height: 44px;}


/*  yogesh patel 27-01-2016 */
div#card-container {
    /*height: 532px;
    overflow: scroll;*/
   margin-top: 62px;
}

.footer > nav{
    position:relative;bottom:0px;z-index:100;background-color:#cf1c2e;height: 60px;line-height: 57px;    z-index: 998;
}
@media only screen and (min-width : 240px){
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    width: 92px;
    display: inline-block;
    padding: 0px;
    float: left;
    position: relative;
}
}
@media only screen and (min-width : 320px){	
nav a.button-collapse {
    float: right;
    z-index: 1;
    height: 60px;
    color: #FFF;
    width: 45px;
    position: relative;
}
nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    padding: 0px;
    float: left;
    position: relative;
    width: 128px;
    margin-left: 10px;
    display: inline-block;
	
}
.nav-wrapper p {
    width: 35%;
    float: left;
    margin: 10px 0px 0px;
    white-space: initial;
    line-height: 12px;
    font-size: 10px;
	font-style: italic;
}
div#card-container{
    position: absolute;
}

}
@media only screen and (min-width : 601px) {
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    /* height: 120px; */
    line-height: 60px;
	}
nav a.button-collapse {
    float: right;
    z-index: 1;
    height: 60px;
    color: #FFF;
    width: 50px;
    position: relative;
	}
.navbar-fixed {   height: 60px; }

.social-follower {
    float: right;
    height: 60px;
    padding: 0px;
    line-height: 20px;
    margin-top: 20px !important;
}
.nav-wrapper p {
    float: left;
    margin: 23px 0px 0px;
    white-space: initial;
    line-height: 12px;
    font-size: 13px;
    width: 375px;
	font-style: italic;
}

}
@media only screen and (max-width : 601px) {

#flex{
    
    display: flex;
    flex-flow: column;
}

#card-container{order:2;}
#main-si{order:3;}
#articles-container {order:1;}

}

@media only screen and (min-width : 992px){

nav .brand-logo {
    color: #FFF;
    font-size: 2.1rem;
    padding: 0px;
    float: left;
    position: relative;
    width: 128px !important;
    margin-left: 10px;
    display: inline-block;
}
.nav-wrapper p {
    width: 26%;
    float: left;
    margin: 0px auto;
    white-space: initial;
    line-height: 60px;
    font-size: 14px;
	font-style: italic;
}

}
@media only screen and (max-width : 992px){
	nav .brand-logo {
		top: 0% !important;
		left: 0% !important;
		transform: translate(-0%, -0%);
		height: 60px;
}
.footer nav{
    height: auto !important;   
}
.footer nav ul#nav-mobile li {width: 100% !important;}

}
@media only screen and (min-width : 320px) and (max-width : 1023px) {
	.socialmedia-nav{display:none;}
	.social-follower{display:none;}
}


.adblade-dyna.zone-1117.container-14816.ad_type_1 {
    border: 1px solid #ccc;
    padding: 4px;
}
div.adblade-dyna.zone-1117{clear:both;font-family:Helvetica,Arial;font-size:20px;overflow:hidden;position:relative;width:100%}div.adblade-dyna.zone-1117 a{text-decoration:none}div.adblade-dyna.zone-1117 .zone{border:0;overflow:hidden;position:relative;width:auto}div.adblade-dyna.zone-1117 .zone .adbladetitle{font-size:1em;font-weight:bold;line-height:1em;margin:0}div.adblade-dyna.zone-1117 .zone ul{list-style-type:none;margin:0 auto;overflow:hidden;padding:0}div.adblade-dyna.zone-1117 .zone ul li{float:left;padding:6px 0}div.adblade-dyna.zone-1117 .zone ul .ad-type-4,div.adblade-dyna.zone-1117 .zone ul .ad-type-5,div.adblade-dyna.zone-1117 .zone ul .ad-type-14{float:none;min-width:300px;padding:10px 0;width:100%}div.adblade-dyna.zone-1117 .zone ul .ad-type-4 #adHtml,div.adblade-dyna.zone-1117 .zone ul .ad-type-5 #adHtml,div.adblade-dyna.zone-1117 .zone ul .ad-type-14 #adImage{height:250px;margin:0 auto;width:300px}div.adblade-dyna.zone-1117 .zone .ad{margin:0 auto;overflow:hidden;width:98%}div.adblade-dyna.zone-1117 .zone .ad .image,div.adblade-dyna.zone-1117 .zone .ad .text{margin:0 auto;max-width:298px;width:100%}div.adblade-dyna.zone-1117 .zone .ad .image{border:0}div.adblade-dyna.zone-1117 .zone .ad .image img{border:0;margin:0 auto;padding:0;width:100%;max-height:198px;min-height:190px;}div.adblade-dyna.zone-1117 .zone .ad .title,div.adblade-dyna.zone-1117 .zone .ad .description,div.adblade-dyna.zone-1117 .zone .ad .displayname{display:block;height:auto;line-height:1.17em;margin:0 auto;width:100%}div.adblade-dyna.zone-1117 .zone .ad .title{color:#000;font-weight:bold}div.adblade-dyna.zone-1117 .zone .ad .description{color:#000;font-size:0.87em}div.adblade-dyna.zone-1117 .zone .ad .displayname{color:#aaa}div.adblade-dyna.zone-1117 .advlabel{font-size:10px;position:absolute;right:1px;top:1px;z-index:999}div.adblade-dyna.zone-1117 .advlabel a{color:#aaa;font-size:10px}div.adblade-dyna.zone-1117 .advlabel a:hover{text-decoration:underline}div.adblade-dyna.zone-1117{font-size:14px}div.adblade-dyna.zone-1117 .standalone.ad{background-color:#eee;border-collapse:collapse;margin:10px auto;position:relative;width:100%}div.adblade-dyna.zone-1117 .standalone.ad .image,div.adblade-dyna.zone-1117 .standalone.ad .text{vertical-align:middle}div.adblade-dyna.zone-1117 .standalone.ad .image img,div.adblade-dyna.zone-1117 .standalone.ad .text{margin:0 auto;max-width:298px;min-width:165px;padding:0;width:99%}div.adblade-dyna.zone-1117 .standalone.ad .image{min-width:80px;width:33.3%}div.adblade-dyna.zone-1117 .standalone.ad .image a{display:block;margin:0 auto;max-width:298px}div.adblade-dyna.zone-1117 .standalone.ad .image img{border:0}div.adblade-dyna.zone-1117 .standalone.ad .text{font-size:1.5em;padding-left:5px}div.adblade-dyna.zone-1117 .standalone.ad .text .title,div.adblade-dyna.zone-1117 .standalone.ad .text .description,div.adblade-dyna.zone-1117 .standalone.ad .text .displayname{color:#000;font-weight:normal}div.adblade-dyna.zone-1117 .standalone.ad .text .title{display:none;font-weight:bold}div.adblade-dyna.zone-1117 .standalone.ad .text .description{display:block;line-height:1.25em;max-height:100%;padding-bottom:20px}div.adblade-dyna.zone-1117 .standalone.ad .text .description:after{color:#00f;content:'Continue...';font-size:0.9em;padding-left:6px;text-decoration:underline}div.adblade-dyna.zone-1117 .standalone.ad .text .displayname{display:block;font-size:0.76em;font-style:italic}div.adblade-dyna.zone-1117 .standalone.ad .text .displayname:before{content:'Promoted by '}div.adblade-dyna.zone-1117.ad_type_85{min-width:600px}div.adblade-dyna.zone-1117.ad_type_85 .ad-type-85{float:none;width:100%;width:600px;height:250px;margin:0 auto}div.adblade-dyna.zone-1117 .standalone.ad .image img,div.adblade-dyna.zone-1117 .standalone.ad .text{min-width:80px}@media only screen and (max-width: 600px){div.adblade-dyna.zone-1117 .standalone.ad .text{font-size:1.25em}}@media only screen and (max-width: 550px){div.adblade-dyna.zone-1117 .standalone.ad .text{font-size:1.15em}}@media only screen and (max-width: 460px){div.adblade-dyna.zone-1117 .standalone.ad .text{font-size:1em}}@media only screen and (max-width: 360px){div.adblade-dyna.zone-1117 .standalone.ad .text{font-size:0.75em}}div.adblade-dyna.zone-1117 .zone .adbladetitle{font-size:1.357em}div.adblade-dyna.zone-1117 .zone ul li{float:left;width:33.33333%}@media only screen and (max-width: 600px){div.adblade-dyna.zone-1117 .zone ul li{float:left;width:50%}}@media only screen and (max-width: 360px){div.adblade-dyna.zone-1117 .zone ul li{float:none;width:100%}}div.adblade-dyna.zone-1117 .zone .ad{width:98%;margin:0 auto}div.adblade-dyna.zone-1117 .zone .ad .description{font-size:0.87em;height:5.85em}@media only screen and (min-width: 460px) and (max-width: 599px){div.adblade-dyna.zone-1117 .zone .ad .description{height:4.68em}}@media only screen and (max-width: 460px){div.adblade-dyna.zone-1117 .zone .ad .description{height:5.85em}}@media only screen and (max-width: 360px){div.adblade-dyna.zone-1117 .zone .ad .description{height:auto}}div.adblade-dyna.zone-1117 .zone .advlabel{right:10px}@media only screen and (max-width: 600px){div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-1{float:left;width:33.33333%}}@media only screen and (max-width: 550px){div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-1,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-1{float:none;width:100%}div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-1 .ad,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-1 .ad,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-1 .ad,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-1 .ad{width:300px}div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-1 .ad .description,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-1 .ad .description,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-1 .ad .description,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-1 .ad .description{height:auto}}div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-4,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-5,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-14,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-79,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-4,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-5,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-14,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-79,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-4,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-5,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-14,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-79,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-4,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-5,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-14,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-79{float:none;width:100%;min-width:300px;padding:10px 0}div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-4 #adHtml,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-4 #adImage,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-5 #adHtml,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-5 #adImage,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-14 #adHtml,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-14 #adImage,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-79 #adHtml,div.adblade-dyna.zone-1117.ad_type_4 .zone .ad-type-79 #adImage,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-4 #adHtml,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-4 #adImage,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-5 #adHtml,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-5 #adImage,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-14 #adHtml,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-14 #adImage,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-79 #adHtml,div.adblade-dyna.zone-1117.ad_type_5 .zone .ad-type-79 #adImage,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-4 #adHtml,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-4 #adImage,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-5 #adHtml,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-5 #adImage,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-14 #adHtml,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-14 #adImage,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-79 #adHtml,div.adblade-dyna.zone-1117.ad_type_14 .zone .ad-type-79 #adImage,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-4 #adHtml,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-4 #adImage,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-5 #adHtml,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-5 #adImage,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-14 #adHtml,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-14 #adImage,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-79 #adHtml,div.adblade-dyna.zone-1117.ad_type_79 .zone .ad-type-79 #adImage{width:300px;height:250px;margin:0 auto}@media only screen and (max-width: 460px){div.adblade-dyna.zone-1117.ad_type_4 .zone .advlabel,div.adblade-dyna.zone-1117.ad_type_5 .zone .advlabel,div.adblade-dyna.zone-1117.ad_type_14 .zone .advlabel,div.adblade-dyna.zone-1117.ad_type_79 .zone .advlabel{top:25px}}div.adblade-dyna.zone-1117.ad_type_81 .zone ul li{float:none;width:100%}div#scrollroll_unit{background:#fff;overflow:hidden;width:300px;height:250px;overflow:hidden;margin:0 auto}div#scrollroll_unit div.button{width:25px;height:25px;position:relative;top:-135px;background:#000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";opacity:.3;font-size:16px;color:#fff;border-radius:10px}div#scrollroll_unit div#right_button.button{left:272px;top:-185px}div#scrollroll_unit div#left_button.button{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0}div#scrollroll_unit div.arrow{position:relative;cursor:pointer;height:250px;bottom:250px;width:30px}div#scrollroll_unit div#right_arrow.arrow{left:270px;top:-503px}div#scrollroll_unit div#left_arrow.arrow{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0}div#scrollroll_unit div.navi{position:relative;top:-125px;height:25px;width:100%}div#scrollroll_unit div.dots{width:60px;height:10px;margin:0 auto;position:relative;top:-537px}div#scrollroll_unit div.dot{width:10px;height:10px;background-color:#eeeeee;float:left;margin-right:5px;opacity:1;cursor:pointer;border-radius:5px}div#scrollroll_unit div.dot div.innerDot{width:6px;height:6px;background-color:lightgrey;position:relative;top:2px;left:2px;border-radius:6px}div#scrollroll_unit div.on{background-color:#000000 !important}div#scrollroll_scroller{width:3000px;height:250px;overflow:hidden;position:relative}div#scrollroll_scroller div.slide{float:left}div#scrollroll_scroller div.slide.nb{width:300px}div#scrollroll_scroller div.slide.nb span.displayname{display:block;font-family:Arial;font-size:13px}div#scrollroll_scroller{-webkit-animation-name:sr_jiggle;-webkit-animation-duration:6s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-webkit-animation-delay:0s;-moz-animation-name:sr_jiggle;-moz-animation-duration:6s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:linear;-moz-animation-delay:0s}div#scrollroll_scroller.nowiggle{-webkit-animation-name:none !important;-webkit-animation-duration:none !important;-webkit-animation-iteration-count:none !important;-webkit-animation-timing-function:none !important;-webkit-animation-delay:none !important;-moz-animation-name:none !important;-moz-animation-duration:none !important;-moz-animation-iteration-count:none !important;-moz-animation-timing-function:none !important;-moz-animation-delay:none !important}@-webkit-keyframes sr_jiggle{0%{-webkit-transform:translateX(0)}2%{-webkit-transform:translateX(-100px)}5%{-webkit-transform:translateX(35px)}6%{-webkit-transform:translateX(0)}}@keyframes sr_jiggle{0%{transform:translateX(0)}2%{transform:translateX(-100px)}5%{transform:translateX(35px)}6%{transform:translateX(0)}}
