
@{
    ViewBag.Title = "Advertise";
}

<div class="starter-template container">
    <div class="row">
        <h2>Advertise With Us</h2>
        <div class="col l2 m2 s2"></div>
        <div class="col  l8 m8 s8">
            <iframe src="http://bharatmovies.com/sas/SendEmail.aspx" style="width:100%;height:500px"></iframe>
        </div>
        <div class="col  l2 m2 s2"></div>
    </div>
</div>

	