
@{
    ViewBag.Title = "CopyWrite";
}

<div class="starter-template">
    <div class="row">
        <div class="container privacy-policy">
            <h2 style="text-align:center;">DMCA (Copyright) Notifications and Counter-Notifications Process</h2>
            <p>At bharatmovies.social, we are committed to respecting and abiding by Copyright and IP laws for the internet.We will promptly remove materials from the Vimeo Site in accordance with the Digital Millennium Copyright Act ("DMCA") if properly notified that the materials infringe a third party's copyright.</p>

            <p>We try our best to make sure that we only provide links to content made publicly available by the content owner. At the same time we know that considering the dynamic and ever changing nature of the content on the internet, sometimes we may get a link on our website that is not fully compliant. It is extremely important to understand that all the video/audio links on our website are just that LINKS, we do not host or store any of these videos/audios on our website. We are just linking the content that appears to be made public by the content owner on sites like Youtube etc. </p>


            <h3>
                <b>
                    Filing a DMCA Notice to Remove Copyrighted Content-for Copyright Holders
                    If you think that there is/are any link(s) on our website that infringe upon or violate any Copyright, then please email us at bharatmovies.social
                </b>
            </h3>

            <h3>Our Pledge: </h3>
            <p>
                We promise that we will do our due diligence and take down the requested link/URL within 24 hours of getting your request. Our goal is to respect and abide by the internet laws at all times.
            </p>
        </div>
    </div>
</div>