
@{
    ViewBag.Title = "Story";
}

<h2>Story</h2>
@Html.Action("StoryCard", "PartialView", new { cardType = "STORYPCARD", cNo = "bolly_data262", storyID = "Story_25d2c0bf-cfe5-4c5b-bbaa-a157200c545e" })
@Html.Action("StoryCard", "PartialView", new { cardType = "STORYVCARDAUTO", cNo = "bolly_data262", storyID = "Story_25d2c0bf-cfe5-4c5b-bbaa-a157200c545e" })
@Html.Action("StoryCard", "PartialView", new { cardType = "STORYCARDPANEL", cNo = "bolly_data262", storyID = "Story_25d2c0bf-cfe5-4c5b-bbaa-a157200c545e" })
@Html.Action("StoryCard", "PartialView", new { cardType = "STORYSMALL", cNo = "bolly_data262", storyID = "Story_25d2c0bf-cfe5-4c5b-bbaa-a157200c545e" })
